<header>
<nav class="navbar navbar-expand-lg navbar-dark">
<div class="container">
    <a class="navbar-brand" href="/">Coding Freaks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
    </ul>
    <a href='{% url "post-page" %}' class="navbar-text">
        All Posts
    </a>
    </div>
</div>
</nav>  

<div class="header_content container">
    <div class='d-flex'>
        <div class="img_container">
            <img src='https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwcGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80'/>
        </div>
        <div>            
        <h2>Coding Freaks</h2>
        </div>
    </div>
    <div class='header_content-text'>
        <p>Hi, I am John Doe and I love to blog about tech and the world!</p>
    </div>    
</div>
</div>
</header>